@import 'variables';
@import "mixins";

body {
	font: 12px / 130% "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	color: $color_body;
}

#wrapper {
	width: $base_width;
	padding: 10px;
	margin: 0 auto;
}

a {
	color: $color_blue;
	text-decoration: none;

	&.dangerous {
		color: red;
	}
	
	&.edit {
		color: $color_yellow;
	}
	
	&:hover {
		color: #fff;
	  background-color: #000;
	}

	img {
		border: none;
	}	
}

em {
	font-style: italic;
}

.hidden {
	display: none;
}

h1, h2, h3, h4 {
	font-weight: normal;
	line-height: 1em;
	margin: 0 0 1em;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin: 0 0 15px 0;
	font-size: (40px / 12px) * 100%;

	a {
		color: black;
	}
}

h2 {
	font-size: 1.6em;
	line-height: 1.6em;
}

h3 {
	font-size: 1.4em;
	line-height: 1.4em;
}

p {
	margin: 0.5em 0;
}

blockquote {
	border-left: 2px solid #ccc;
	margin: 0 0 0 3em;
	padding: 0 0px 0 1em;
}

#header {
	overflow: hidden;
	padding: 0 0 10px;
	margin: 0 0 20px;
	
	.slogan {
		font-size: (20px / 12px) * 100%;
	}
	
	.navigation {
		overflow: hidden;
		margin: 20px 0 0;
		
		&.left {
			float: left;
		}
		
		li {
			float: left;
			margin: 0 10px 0 0;
			padding: 0 10px 0 0;
			border-right: 1px solid #ccc;
			
			&:last-child {
				border: none;
				margin-right: 0;
				padding-right: 0;
			}
			
			.highlight {
				color: red;
				
				&:hover {
					color: white;
				}
			}
		}
	}
	
	.admin-navigation {
		@extend .navigation;
		margin: 10px 0 0;
		padding: 10px;
		background: #eee;
		float: left;
		
		li {
			border: none;
		}
	}
}

#body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	.primary {
		width: (720px / $base_width) * 100%;
		margin-right: 30px;
		float: right;
		overflow: hidden;
	}
	
	.secondary {
		float: left;
		width: (150px / $base_width) * 100%;
		overflow: hidden;
	}
}

#footer {
	margin: 50px 0 10px;
	color: #666;
	
	.languages {
		overflow: hidden;
		margin: 5px 0 0;
		
		li {
			float: left;
			margin: 0 20px 0 0;
			padding: 0 0 0 20px;
		}

		.zh-CN {
			background: url($flag_zh-cn) no-repeat 0 2px;
		}
		
		.en {
			background: url($flag_en) no-repeat 0 2px;
		}
	}
}