@mixin rounded($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


@mixin box-shadow($effect: 1px 0px 5px black) {
	box-shadow: $effect;
	-moz-box-shadow: $effect;
	-webkit-box-shadow: $effect;
}

@mixin iphone_base($iphone_base_width) {
	html {
		-webkit-text-size-adjust: none;
	}

	body {
		font-size: 14px;
	}

	#wrapper {
		width: $iphone_base_width - 20px;
		padding: 10px;
		margin: 0 auto;
	}
	
	#body {
		.primary {
			margin: 0 0 10px 0;
		}
	}
	
	form.basic {	
		input[type=text], input[type=email], input[type=password], textarea {
			width: 95%;
		}
	}
}

/* iPhone 2G, 3G, 3GS, 4, 4S, 5 Portrait */
@mixin iphone_portrait {
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
		@include iphone_base(320px);
		@content;
	}
}

/* iPhone 2G, 3G, 3GS, 4, 4S Landscape */
@mixin iphone_4s_landscape {
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
		@include iphone_base(480px);
		@content;
	}
}

/* iPhone 5 Landscape */
@mixin iphone_5_landscape {
}