@mixin rounded($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


@mixin box-shadow($effect: 1px 0px 5px black) {
	box-shadow: $effect;
	-moz-box-shadow: $effect;
	-webkit-box-shadow: $effect;
}

@mixin iphone_base {
	html {
		-webkit-text-size-adjust: none;
	}

	body {
		font-size: 14px;
	}
	
	#wrapper {
		padding: 0;
	}
	
	#body {
		.primary {
			margin: 0 0 10px 0;
		}
	}
	
	form.basic {	
		input[type=text], input[type=email], input[type=password], textarea {
			width: 95%;
		}
	}
	
	#error_explanation {
		width: auto;
	}
}

@mixin set_width($base_width) {
	#wrapper {
		width: $base_width !important;
		
		.gutter {
			width: $base_width - 20px;
		}
	}
}

/* iPhone 2G, 3G, 3GS, 4, 4S, 5 Portrait */
@mixin iphone_portrait {
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
		@include set_width(320px);
		@content;
	}
}

/* iPhone 2G, 3G, 3GS, 4, 4S Landscape */
@mixin iphone_4s_landscape {
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
		@include set_width(480px);
		@content;
	}
}

/* iPhone 5 Landscape */
@mixin iphone_5_landscape {
	@media only screen and (width: 568px) and (orientation: landscape) {
		@include set_width(568px);
		@content;
	}
}

/* all iPhone */
@mixin iphone_portrait_and_landscape {
	@include iphone_portrait {@content};
	@include iphone_4s_landscape {@content};
	@include iphone_5_landscape {@content};
}

/* Desktop, say, 960px width */
@mixin desktop {
	@media only screen and (min-width: 768px) {
		@content;
	}
}