$base_width: 800px;

$color_green: #53a440;
$color_light_green: #7dde66;
$color_lighter_green: #65b453;
$color_even_lighter_green: #e0ffe2;
$color_blue: #3b7fa6; /*#56a1cc;*/
$color_light_blue: #6aa5c6;
$color_lighter_blue: #EBF8F9;
$color_red: #e75151;/*#ff5656;*/
$color_yellow: #fc9729;
$color_pink: #FF7676;
$color_light_pink: #ffe0e0;
$color_body: #000;