@mixin rounded($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


@mixin box-shadow($effect: 1px 0px 5px black) {
	box-shadow: $effect;
	-moz-box-shadow: $effect;
	-webkit-box-shadow: $effect;
}

@mixin iphone($base_width) {
	html {
		-webkit-text-size-adjust: none;
	}

	body {
		font-size: 14px;
	}

	#body {
		width: $base_width - 10px;
		padding: 5px;
	}
	
	form.basic {	
		input[type=text], input[type=email], input[type=password], textarea {
			width: 95%;
		}
	}
}