<div id="footer">
	<div class="gutter">
		<p><%= t :copyright %></p>
		<%= clearfix %>
		<ul class="languages">
			<%
			p = params.dup.delete_if{|key| %w(action controller locale).include?(key)}
			%>
			<li class="en"><%= link_to_unless_current t(:english), locale: :en, params: p %></li>
			<li class="zh-CN"><%= link_to_unless_current t(:chinese), locale: "zh-CN", params: p %></li>
		</ul>
	</div>
</div>
